/* Estilos del encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

nav li:not(:last-child)::after {
    content: " | ";
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
}

nav li a {
    color: white;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 110px;
    background-color: white;
}

/* Estilos de las secciones */
section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-top: 0;
}

/* Estilos del pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

img {
    margin-bottom: 20px;
}

/* Estilos del modal */
.modal {
    display: none;
    /* Por defecto, ocultamos el modal */
    position: fixed;
    /* Lo posicionamos en el centro de la pantalla */
    z-index: 1;
    /* Lo ponemos encima de todo el contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Permite hacer scroll si el contenido del modal es muy grande */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semitransparente para destacar el modal */
}

/* Estilos del contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}