/* Estilos del encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 20px;
}

main {
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

nav li:not(:last-child)::after {
    content: " | ";
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
}

nav li a {
    color: white;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    overflow-x: hidden;
    max-width: 100%; /* ajusta el valor a tu preferencia */
    margin-left: 20;
    margin-right: 20px;
  }


/* Estilos de las secciones */
section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-top: 0;
}

/* Estilos de los juegos */

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  
.game {
    display: inline-flex;
    position: relative;
    margin: 1%;
    width: 23%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .game:hover .overlay {
    opacity: 0.8;
  }
  
  .game .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .game .overlay h2 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
  }

/* Estilos del pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}



  