body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #allele-inputs {
    width: 100px;
    height: 50%;
    margin-right: 10px;
    margin-left: 10 px;
  }

  
  #allele-inputs label {
    display: block;
    margin-top: 10px;
  }
  
  #allele-inputs input {
    display: block;
    margin-bottom: 10px;
  }
  
  #main-container {
    width: 100%;
    max-width: 700px; /* ajusta el ancho máximo a tu gusto */
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 90px;
    padding-right: 90px;
    margin-right: 200px;
    
  }
  

h1 {
    text-align: center;
    margin-top: 20px;
    color: #77dd77;
    text-shadow: 2px 2px #fff;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #666;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    margin-right: 10px;
    color: #77dd77;
}

select {
    margin-right: 10px;
}

button {
    margin-top: 10px;
    background-color: #77dd77;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #77dd77;
}

#resultado {
    text-align: center;
    margin-top: 20px;
}

#resultado h2 {
    margin-bottom: 10px;
    color: #77dd77;
}

#probabilidad {
    font-weight: bold;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #77dd77;
    padding-top: 10px;

    margin-left: 200px;
  }
  
  
  #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #menu ul li {
    margin: 10px 0;
    padding: 0 20px;
  }
  
  #menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  #menu ul li a:hover {
    color: #77dd77;
  }

  .caracteristica {
    color: #77dd77;
}


  
  
  
  
  