/* Estilos del encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

nav li:not(:last-child)::after {
    content: " | ";
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
}

nav li a {
    color: white;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 110px;
    background-color: white;
}

/* Estilos del pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-juego {
    height: 100vh;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

}

.juego-titulo,
.juego-info {
    text-align: center;
}

.juego-cuadricula {

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;
}

.cuadro {
    width: 3rem;
    height: 3rem;
    border: 1px solid rgb(168, 168, 168);
    text-align: center;
    color: rgb(7, 255, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: background-color ease-in 0.2s;
}

.cuadro:hover {

    background-color: #cccc;

}

.juego-boton {
    display: inline-flex;
    padding: 1rem 1rem;
    background: red;
    color: white;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    transition: color ease-out 0.3s;

}

.juego-boton:hover {

    background: white;
    color: red;
    border: 1px solid red;

}